@import "tailwindcss";
body{
    font-family: "poppins", sans-serif;
    
}
h1,h2{
    font-family: "roboto", sans-serif;
}
@layer utilities{
    .gradient{
        background: linear-gradient(-45deg,#302b60,#00bf8f,#1cd8d2) ;
    }
}

@keyframes pulse-delayed {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
}

